In [ ]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
data_route = '/content/gdrive/MyDrive/소방청_전국 산악사고 현황(2017_2021).csv'

In [ ]:
mountain_data = pd.read_csv(data_route, encoding='euc-kr')
mountain_data

,신고년월일,신고시각,발생장소_시,발생장소_구,발생장소_동,발생장소_리,사고원인코드명_사고종별,처리결과코드,발생장소,Unnamed: 9,Unnamed: 10,지점코드1,지점코드2
0,2017-01-01,4:51:00,경기도,의정부시,가능동,가능동,일반조난,인명구조,경기도 의정부시 가능동 가능동,NaN,NaN,의정,경기
1,2017-01-01,5:49:00,부산광역시,사상구,모라동,모라동,일반조난,인명구조,부산광역시 사상구 모라동 모라동,NaN,NaN,사상,부산
2,2017-01-01,6:22:00,서울특별시,관악구,신림동,신림동,일반조난,인명구조,서울특별시 관악구 신림동 신림동,NaN,NaN,관악,서울
3,2017-01-01,6:49:00,경기도,성남시 중원구,은행동,은행동,기타산악,기타,경기도 성남시 중원구 은행동 은행동,NaN,NaN,성남,경기
4,2017-01-01,7:10:00,경기도,과천시,중앙동,중앙동,실족추락,인명구조,경기도 과천시 중앙동 중앙동,NaN,NaN,과천,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45780,2021-12-31,14:58:00,서울특별시,은평구,진관동,진관동,실족추락,인명구조,서울특별시 은평구 진관동 진관동,NaN,NaN,은평,서울
45781,2021-12-31,16:37:00,충청북도,영동군,황간면,우매리,일반조난,인명구조,충청북도 영동군 황간면 우매리,NaN,NaN,영동,충청
45782,2021-12-31,18:11:00,경상북도,구미시,남통동,남통동,일반조난,인명구조,경상북도 구미시 남통동 남통동,NaN,NaN,구미,경상
45783,2021-12-31,18:11:00,경상북도,구미시,남통동,남통동,일반조난,인명검색,경상북도 구미시 남통동 남통동,NaN,NaN,구미,경상
45784,2021-12-31,18:16:00,대구광역시,동구,숙천동,숙천동,일반조난,인명구조,대구광역시 동구 숙천동 숙천동,NaN,NaN,동구,대구

In [ ]:
mountain_data['일시'] = mountain_data.apply(lambda x: str(x['신고년월일']) + ' ' + x['신고시각'], axis=1)
print(mountain_data)

            신고년월일      신고시각 발생장소_시   발생장소_구 발생장소_동 발생장소_리 사고원인코드명_사고종별 처리결과코드  \
0      2017-01-01   4:51:00    경기도     의정부시    가능동    가능동         일반조난   인명구조
1      2017-01-01   5:49:00  부산광역시      사상구    모라동    모라동         일반조난   인명구조
2      2017-01-01   6:22:00  서울특별시      관악구    신림동    신림동         일반조난   인명구조
3      2017-01-01   6:49:00    경기도  성남시 중원구    은행동    은행동         기타산악     기타
4      2017-01-01   7:10:00    경기도      과천시    중앙동    중앙동         실족추락   인명구조
...           ...       ...    ...      ...    ...    ...          ...    ...
45780  2021-12-31  14:58:00  서울특별시      은평구    진관동    진관동         실족추락   인명구조
45781  2021-12-31  16:37:00   충청북도      영동군    황간면    우매리         일반조난   인명구조
45782  2021-12-31  18:11:00   경상북도      구미시    남통동    남통동         일반조난   인명구조
45783  2021-12-31  18:11:00   경상북도      구미시    남통동    남통동         일반조난   인명검색
45784  2021-12-31  18:16:00  대구광역시       동구    숙천동    숙천동         일반조난   인명구조

                      발생장소  Unnamed: 9  Unnamed: 10 지점코드1 지점코드2  \
0         경기도 의정부시 가능동 가능동         NaN          NaN    의정    경기
1        부산광역시 사상구 모라동 모라동         NaN          NaN    사상    부산
2        서울특별시 관악구 신림동 신림동         NaN          NaN    관악    서울
3      경기도 성남시 중원구 은행동 은행동         NaN          NaN    성남    경기
4          경기도 과천시 중앙동 중앙동         NaN          NaN    과천    경기
...                    ...         ...          ...   ...   ...
45780    서울특별시 은평구 진관동 진관동         NaN          NaN    은평    서울
45781     충청북도 영동군 황간면 우매리         NaN          NaN    영동    충청
45782     경상북도 구미시 남통동 남통동         NaN          NaN    구미    경상
45783     경상북도 구미시 남통동 남통동         NaN          NaN    구미    경상
45784     대구광역시 동구 숙천동 숙천동         NaN          NaN    동구    대구

                        일시
0       2017-01-01 4:51:00
1       2017-01-01 5:49:00
2       2017-01-01 6:22:00
3       2017-01-01 6:49:00
4       2017-01-01 7:10:00
...                    ...
45780  2021-12-31 14:58:00
45781  2021-12-31 16:37:00
45782  2021-12-31 18:11:00
45783  2021-12-31 18:11:00
45784  2021-12-31 18:16:00

[45785 rows x 14 columns]

In [ ]:
data_route1 = '/content/gdrive/MyDrive/OBS_17.csv'
data_route2 = '/content/gdrive/MyDrive/OBS_18.csv'
data_route3 = '/content/gdrive/MyDrive/OBS_19.csv'

obs17 = pd.read_csv(data_route1, encoding='euc-kr')
obs18 = pd.read_csv(data_route2, encoding='euc-kr')
obs19 = pd.read_csv(data_route3, encoding='euc-kr')

<ipython-input-9-af5dc0547680>:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  obs17 = pd.read_csv(data_route1, encoding='euc-kr')
<ipython-input-9-af5dc0547680>:6: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  obs18 = pd.read_csv(data_route2, encoding='euc-kr')
<ipython-input-9-af5dc0547680>:7: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  obs19 = pd.read_csv(data_route3, encoding='euc-kr')

In [ ]:
obs_all = obs17.append([obs18, obs19], ignore_index=True)

<ipython-input-11-2d4b733bb7e6>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  obs_all = obs17.append([obs18, obs19], ignore_index=True)

In [ ]:
mountain_data['일시'] = pd.to_datetime(mountain_data['일시'])

mountain_data['report_time_simple'] = mountain_data['일시'].apply(lambda x: x.strftime('%Y-%m-%d %H:00'))
mountain_data

,신고년월일,신고시각,발생장소_시,발생장소_구,발생장소_동,발생장소_리,사고원인코드명_사고종별,처리결과코드,발생장소,Unnamed: 9,Unnamed: 10,지점코드,지점코드2,일시,report_time_simple
0,2017-01-01,4:51:00,경기도,의정부시,가능동,가능동,일반조난,인명구조,경기도 의정부시 가능동 가능동,NaN,NaN,의정,경기,2017-01-01 04:51:00,2017-01-01 04:00
1,2017-01-01,5:49:00,부산광역시,사상구,모라동,모라동,일반조난,인명구조,부산광역시 사상구 모라동 모라동,NaN,NaN,사상,부산,2017-01-01 05:49:00,2017-01-01 05:00
2,2017-01-01,6:22:00,서울특별시,관악구,신림동,신림동,일반조난,인명구조,서울특별시 관악구 신림동 신림동,NaN,NaN,관악,서울,2017-01-01 06:22:00,2017-01-01 06:00
3,2017-01-01,6:49:00,경기도,성남시 중원구,은행동,은행동,기타산악,기타,경기도 성남시 중원구 은행동 은행동,NaN,NaN,성남,경기,2017-01-01 06:49:00,2017-01-01 06:00
4,2017-01-01,7:10:00,경기도,과천시,중앙동,중앙동,실족추락,인명구조,경기도 과천시 중앙동 중앙동,NaN,NaN,과천,경기,2017-01-01 07:10:00,2017-01-01 07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45780,2021-12-31,14:58:00,서울특별시,은평구,진관동,진관동,실족추락,인명구조,서울특별시 은평구 진관동 진관동,NaN,NaN,은평,서울,2021-12-31 14:58:00,2021-12-31 14:00
45781,2021-12-31,16:37:00,충청북도,영동군,황간면,우매리,일반조난,인명구조,충청북도 영동군 황간면 우매리,NaN,NaN,영동,충청,2021-12-31 16:37:00,2021-12-31 16:00
45782,2021-12-31,18:11:00,경상북도,구미시,남통동,남통동,일반조난,인명구조,경상북도 구미시 남통동 남통동,NaN,NaN,구미,경상,2021-12-31 18:11:00,2021-12-31 18:00
45783,2021-12-31,18:11:00,경상북도,구미시,남통동,남통동,일반조난,인명검색,경상북도 구미시 남통동 남통동,NaN,NaN,구미,경상,2021-12-31 18:11:00,2021-12-31 18:00
45784,2021-12-31,18:16:00,대구광역시,동구,숙천동,숙천동,일반조난,인명구조,대구광역시 동구 숙천동 숙천동,NaN,NaN,동구,대구,2021-12-31 18:16:00,2021-12-31 18:00

In [ ]:
obs_all

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C),지점코드,Unnamed: 12
0,90,속초,2017-01-01 0:00,4.1,NaN,1.5,50.0,-5.4,1024.0,5.5,1.0,속초,NaN
1,90,속초,2017-01-01 1:00,3.4,NaN,1.4,53.0,-5.2,1024.3,NaN,0.9,속초,NaN
2,90,속초,2017-01-01 2:00,4.6,NaN,2.3,48.0,-5.4,1024.1,NaN,0.9,속초,NaN
3,90,속초,2017-01-01 3:00,4.1,NaN,1.4,49.0,-5.6,1024.3,5.5,0.8,속초,NaN
4,90,속초,2017-01-01 4:00,3.7,NaN,1.0,48.0,-6.3,1023.9,NaN,0.7,속초,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496195,295,남해,2019-12-31 19:00,-0.6,NaN,1.2,39.0,-12.8,1026.3,NaN,0.1,남해,NaN
2496196,295,남해,2019-12-31 20:00,-1.9,NaN,1.0,45.0,-12.2,1026.0,NaN,-0.6,남해,NaN
2496197,295,남해,2019-12-31 21:00,-2.8,NaN,0.7,51.0,-11.5,1026.2,NaN,-1.2,남해,NaN
2496198,295,남해,2019-12-31 22:00,-3.2,NaN,0.6,53.0,-11.4,1026.2,NaN,-1.8,남해,NaN
2496199,295,남해,2019-12-31 23:00,-4.4,NaN,0.4,59.0,-11.2,1026.2,NaN,-2.2,남해,NaN

In [ ]:
mountain_data

,신고년월일,신고시각,발생장소_시,발생장소_구,발생장소_동,발생장소_리,사고원인코드명_사고종별,처리결과코드,발생장소,Unnamed: 9,Unnamed: 10,지점코드,지점코드2,일시,report_time_simple
0,2017-01-01,4:51:00,경기도,의정부시,가능동,가능동,일반조난,인명구조,경기도 의정부시 가능동 가능동,NaN,NaN,의정,경기,2017-01-01 04:51:00,2017-01-01 04:00:00
1,2017-01-01,5:49:00,부산광역시,사상구,모라동,모라동,일반조난,인명구조,부산광역시 사상구 모라동 모라동,NaN,NaN,사상,부산,2017-01-01 05:49:00,2017-01-01 05:00:00
2,2017-01-01,6:22:00,서울특별시,관악구,신림동,신림동,일반조난,인명구조,서울특별시 관악구 신림동 신림동,NaN,NaN,관악,서울,2017-01-01 06:22:00,2017-01-01 06:00:00
3,2017-01-01,6:49:00,경기도,성남시 중원구,은행동,은행동,기타산악,기타,경기도 성남시 중원구 은행동 은행동,NaN,NaN,성남,경기,2017-01-01 06:49:00,2017-01-01 06:00:00
4,2017-01-01,7:10:00,경기도,과천시,중앙동,중앙동,실족추락,인명구조,경기도 과천시 중앙동 중앙동,NaN,NaN,과천,경기,2017-01-01 07:10:00,2017-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45780,2021-12-31,14:58:00,서울특별시,은평구,진관동,진관동,실족추락,인명구조,서울특별시 은평구 진관동 진관동,NaN,NaN,은평,서울,2021-12-31 14:58:00,2021-12-31 14:00:00
45781,2021-12-31,16:37:00,충청북도,영동군,황간면,우매리,일반조난,인명구조,충청북도 영동군 황간면 우매리,NaN,NaN,영동,충청,2021-12-31 16:37:00,2021-12-31 16:00:00
45782,2021-12-31,18:11:00,경상북도,구미시,남통동,남통동,일반조난,인명구조,경상북도 구미시 남통동 남통동,NaN,NaN,구미,경상,2021-12-31 18:11:00,2021-12-31 18:00:00
45783,2021-12-31,18:11:00,경상북도,구미시,남통동,남통동,일반조난,인명검색,경상북도 구미시 남통동 남통동,NaN,NaN,구미,경상,2021-12-31 18:11:00,2021-12-31 18:00:00
45784,2021-12-31,18:16:00,대구광역시,동구,숙천동,숙천동,일반조난,인명구조,대구광역시 동구 숙천동 숙천동,NaN,NaN,동구,대구,2021-12-31 18:16:00,2021-12-31 18:00:00

In [ ]:
obs_all = obs_all.rename(columns={'일시': 'report_time_simple'})

In [ ]:
mountain_data = mountain_data.rename(columns={'지점코드': '지점코드1', '지점코드2': '지점코드'})

In [ ]:
result1 = pd.merge(mountain_data, obs_all, on=['report_time_simple', '지점코드'])

In [ ]:
result1

,신고년월일,신고시각,발생장소_시,발생장소_구,발생장소_동,발생장소_리,사고원인코드명_사고종별,처리결과코드,발생장소,Unnamed: 9,...,지점명,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C),Unnamed: 12
0,2017-01-01,11:29:00,강원도,인제군,북면,용대리,실족추락,인명구조,강원도 인제군 북면 용대리,NaN,...,인제,2.0,NaN,1.5,71.0,-2.7,1005.9,NaN,0.7,NaN
1,2017-01-01,11:29:00,강원도,인제군,북면,용대리,실족추락,인명구조,강원도 인제군 북면 용대리,NaN,...,인제,2.0,NaN,1.5,71.0,-2.7,1005.9,NaN,0.7,NaN
2,2017-01-01,14:16:00,경상남도,산청군,시천면,시천면,기타산악,인명구조,경상남도 산청군 시천면 시천면,NaN,...,산청,11.2,NaN,1.5,37.0,-2.9,1009.8,NaN,9.9,NaN
3,2017-01-01,16:01:00,강원도,춘천시,서면,덕두원리,실족추락,인명구조,강원도 춘천시 서면 덕두원리,NaN,...,춘천,3.1,NaN,0.2,78.0,-0.3,1018.4,NaN,0.1,NaN
4,2017-01-01,16:04:00,강원도,원주시,신림면,성남리,일반조난,인명구조,강원도 원주시 신림면 성남리,NaN,...,원주,5.4,NaN,0.6,62.0,-1.3,1009.3,NaN,0.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8962,2019-12-29,20:27:00,경상북도,구미시,도개면,궁기리,일반조난,안전조치,경상북도 구미시 도개면 궁기리,NaN,...,구미,2.5,NaN,0.7,78.0,-0.9,1020.2,NaN,1.1,NaN
8963,2019-12-31,14:57:00,전라남도,보성군,복내면,용전리,기타산악,인명구조,전라남도 보성군 복내면 용전리,NaN,...,보성군,1.6,NaN,6.6,32.0,-13.3,1032.3,NaN,7.9,군
8964,2019-12-31,14:58:00,전라남도,보성군,복내면,용동리,기타산악,인명구조,전라남도 보성군 복내면 용동리,NaN,...,보성군,1.6,NaN,6.6,32.0,-13.3,1032.3,NaN,7.9,군
8965,2019-12-31,15:51:00,경상북도,포항시 남구,대송면,대각리,기타산악,안전조치,경상북도 포항시 남구 대송면 대각리,NaN,...,포항,2.1,NaN,3.1,26.0,-15.4,1029.8,NaN,5.9,NaN
8966,2019-12-31,18:33:00,경기도,광주시,남한산성면,산성리,일반조난,안전조치,경기도 광주시 남한산성면 산성리,NaN,...,광주,-2.1,NaN,1.7,46.0,-12.1,1025.9,NaN,-1.3,NaN

In [ ]:
result2 = pd.merge(mountain_data, obs_all, on=['report_time_simple', '지점코드'])

In [ ]:
result2

,신고년월일,신고시각,발생장소_시,발생장소_구,발생장소_동,발생장소_리,사고원인코드명_사고종별,처리결과코드,발생장소,Unnamed: 9,...,지점명,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C),Unnamed: 12
0,2017-01-01,10:03:00,광주광역시,동구,용연동,용연동,개인질환,안전조치,광주광역시 동구 용연동 용연동,NaN,...,광주,2.8,NaN,0.7,87.0,0.8,1022.7,NaN,-0.4,NaN
1,2017-01-01,10:04:00,광주광역시,동구,운림동,운림동,개인질환,인명구조,광주광역시 동구 운림동 운림동,NaN,...,광주,2.8,NaN,0.7,87.0,0.8,1022.7,NaN,-0.4,NaN
2,2017-01-01,10:59:00,서울특별시,관악구,신림동,신림동,기타산악,인명구조,서울특별시 관악구 신림동 신림동,NaN,...,서울,0.8,NaN,2.1,77.0,-2.7,1020.1,NaN,0.6,NaN
3,2017-01-01,11:38:00,광주광역시,북구,금곡동,금곡동,기타산악,인명구조,광주광역시 북구 금곡동 금곡동,NaN,...,광주,4.7,NaN,0.8,78.0,1.1,1022.4,NaN,4.1,NaN
4,2017-01-01,11:58:00,서울특별시,도봉구,도봉동,도봉동,기타산악,인명구조,서울특별시 도봉구 도봉동 도봉동,NaN,...,서울,2.5,NaN,1.9,71.0,-2.2,1019.9,NaN,2.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5514,2019-12-30,11:06:00,서울특별시,관악구,신림동,신림동,일반조난,인명구조,서울특별시 관악구 신림동 신림동,NaN,...,서울,6.4,NaN,1.8,72.0,1.7,1012.4,NaN,7.0,NaN
5515,2019-12-30,16:18:00,부산광역시,남구,용호동,용호동,기타산악,안전조치,부산광역시 남구 용호동 용호동,NaN,...,부산,13.5,NaN,2.2,70.0,8.1,1010.8,NaN,12.5,NaN
5516,2019-12-30,16:27:00,부산광역시,북구,만덕동,만덕동,기타산악,인명검색,부산광역시 북구 만덕동 만덕동,NaN,...,부산,13.5,NaN,2.2,70.0,8.1,1010.8,NaN,12.5,NaN
5517,2019-12-30,17:34:00,부산광역시,남구,용호동,용호동,기타산악,기타,부산광역시 남구 용호동 용호동,NaN,...,부산,12.2,NaN,1.3,70.0,6.8,1011.4,NaN,11.3,NaN
5518,2019-12-31,16:28:00,서울특별시,관악구,신림동,신림동,일반조난,인명구조,서울특별시 관악구 신림동 신림동,NaN,...,서울,-4.9,NaN,2.7,27.0,-21.0,1023.7,NaN,-0.1,NaN

In [ ]:
accident = result1.append([result2], ignore_index=True)
accident

<ipython-input-31-9bbf2216fbb6>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accident = result1.append([result2], ignore_index=True)

,신고년월일,신고시각,발생장소_시,발생장소_구,발생장소_동,발생장소_리,사고원인코드명_사고종별,처리결과코드,발생장소,Unnamed: 9,...,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C),Unnamed: 12,지점코드1
0,2017-01-01,11:29:00,강원도,인제군,북면,용대리,실족추락,인명구조,강원도 인제군 북면 용대리,NaN,...,2.0,NaN,1.5,71.0,-2.7,1005.9,NaN,0.7,NaN,NaN
1,2017-01-01,11:29:00,강원도,인제군,북면,용대리,실족추락,인명구조,강원도 인제군 북면 용대리,NaN,...,2.0,NaN,1.5,71.0,-2.7,1005.9,NaN,0.7,NaN,NaN
2,2017-01-01,14:16:00,경상남도,산청군,시천면,시천면,기타산악,인명구조,경상남도 산청군 시천면 시천면,NaN,...,11.2,NaN,1.5,37.0,-2.9,1009.8,NaN,9.9,NaN,NaN
3,2017-01-01,16:01:00,강원도,춘천시,서면,덕두원리,실족추락,인명구조,강원도 춘천시 서면 덕두원리,NaN,...,3.1,NaN,0.2,78.0,-0.3,1018.4,NaN,0.1,NaN,NaN
4,2017-01-01,16:04:00,강원도,원주시,신림면,성남리,일반조난,인명구조,강원도 원주시 신림면 성남리,NaN,...,5.4,NaN,0.6,62.0,-1.3,1009.3,NaN,0.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14481,2019-12-30,11:06:00,서울특별시,관악구,신림동,신림동,일반조난,인명구조,서울특별시 관악구 신림동 신림동,NaN,...,6.4,NaN,1.8,72.0,1.7,1012.4,NaN,7.0,NaN,관악
14482,2019-12-30,16:18:00,부산광역시,남구,용호동,용호동,기타산악,안전조치,부산광역시 남구 용호동 용호동,NaN,...,13.5,NaN,2.2,70.0,8.1,1010.8,NaN,12.5,NaN,남구
14483,2019-12-30,16:27:00,부산광역시,북구,만덕동,만덕동,기타산악,인명검색,부산광역시 북구 만덕동 만덕동,NaN,...,13.5,NaN,2.2,70.0,8.1,1010.8,NaN,12.5,NaN,북구
14484,2019-12-30,17:34:00,부산광역시,남구,용호동,용호동,기타산악,기타,부산광역시 남구 용호동 용호동,NaN,...,12.2,NaN,1.3,70.0,6.8,1011.4,NaN,11.3,NaN,남구
14485,2019-12-31,16:28:00,서울특별시,관악구,신림동,신림동,일반조난,인명구조,서울특별시 관악구 신림동 신림동,NaN,...,-4.9,NaN,2.7,27.0,-21.0,1023.7,NaN,-0.1,NaN,관악

In [ ]:
accident.to_csv('/content/gdrive/MyDrive/capstone_data.csv', index=False)