In [ ]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
accident1_route = '/content/gdrive/MyDrive/사고_2010_2016.csv'
accident2_route = '/content/gdrive/MyDrive/사고_2017_2021.csv'

In [ ]:
accident_data1 = pd.read_csv(accident1_route, encoding='euc-kr')
accident_data2 = pd.read_csv(accident2_route, encoding='euc-kr')
accident_data1
accident_data2

,report_time,report_time_simple,발생장소,사고원인,지점코드1,지점코드2
0,2017-01-01 4:51,2017-01-01 4:00,경기도 의정부시 가능동 가능동,일반조난,의정,경기
1,2017-01-01 5:49,2017-01-01 5:00,부산광역시 사상구 모라동 모라동,일반조난,사상,부산
2,2017-01-01 6:22,2017-01-01 6:00,서울특별시 관악구 신림동 신림동,일반조난,관악,서울
3,2017-01-01 6:49,2017-01-01 6:00,경기도 성남시 중원구 은행동 은행동,기타산악,성남,경기
4,2017-01-01 7:10,2017-01-01 7:00,경기도 과천시 중앙동 중앙동,실족추락,과천,경기
...,...,...,...,...,...,...
45780,2021-12-31 14:58,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,은평,서울
45781,2021-12-31 16:37,2021-12-31 16:00,충청북도 영동군 황간면 우매리,일반조난,영동,충청
45782,2021-12-31 18:11,2021-12-31 18:00,경상북도 구미시 남통동 남통동,일반조난,구미,경상
45783,2021-12-31 18:11,2021-12-31 18:00,경상북도 구미시 남통동 남통동,일반조난,구미,경상
45784,2021-12-31 18:16,2021-12-31 18:00,대구광역시 동구 숙천동 숙천동,일반조난,동구,대구

In [ ]:
weather_route1 = '/content/gdrive/MyDrive/OBS_10.csv'
weather_route2 = '/content/gdrive/MyDrive/OBS_11.csv'
weather_route3 = '/content/gdrive/MyDrive/OBS_12.csv'
weather_route4 = '/content/gdrive/MyDrive/OBS_13.csv'
weather_route5 = '/content/gdrive/MyDrive/OBS_14.csv'
weather_route6 = '/content/gdrive/MyDrive/OBS_15.csv'
weather_route7 = '/content/gdrive/MyDrive/OBS_16.csv'
weather_route8 = '/content/gdrive/MyDrive/OBS_17.csv'
weather_route9 = '/content/gdrive/MyDrive/OBS_18.csv'
weather_route10 = '/content/gdrive/MyDrive/OBS_19.csv'
weather_route11 = '/content/gdrive/MyDrive/OBS_20.csv'
weather_route12 = '/content/gdrive/MyDrive/OBS_21.csv'


obs10 = pd.read_csv(weather_route1, encoding='euc-kr')
obs11 = pd.read_csv(weather_route2, encoding='euc-kr')
obs12 = pd.read_csv(weather_route3, encoding='euc-kr')
obs13 = pd.read_csv(weather_route4, encoding='euc-kr')
obs14 = pd.read_csv(weather_route5, encoding='euc-kr')
obs15 = pd.read_csv(weather_route6, encoding='euc-kr')
obs16 = pd.read_csv(weather_route7, encoding='euc-kr')
obs17 = pd.read_csv(weather_route8, encoding='euc-kr')
obs18 = pd.read_csv(weather_route9, encoding='euc-kr')
obs19 = pd.read_csv(weather_route10, encoding='euc-kr')
obs20 = pd.read_csv(weather_route11, encoding='euc-kr')
obs21 = pd.read_csv(weather_route12, encoding='euc-kr')

In [ ]:
obs_all = obs10.append([obs11, obs12, obs13, obs14, obs15, obs16, obs17, obs18, obs19, obs20, obs21], ignore_index=True)

<ipython-input-16-352876a64f7d>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  obs_all = obs10.append([obs11, obs12, obs13, obs14, obs15, obs16, obs17, obs18, obs19, obs20, obs21], ignore_index=True)

In [ ]:
obs_all

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C),지점코드
0,90,속초,2010-01-01 1:00,-7.5,NaN,6.3,15.0,-29.7,1015.9,NaN,-9.8,속초
1,90,속초,2010-01-01 2:00,-8.2,NaN,5.5,17.0,-29.0,1015.7,NaN,-9.5,속초
2,90,속초,2010-01-01 3:00,-7.6,NaN,6.6,14.0,-30.5,1016.2,NaN,-9.5,속초
3,90,속초,2010-01-01 4:00,-7.0,NaN,4.4,14.0,-30.0,1015.7,NaN,-9.0,속초
4,90,속초,2010-01-01 5:00,-7.3,NaN,4.3,17.0,-28.2,1015.4,NaN,-8.9,속초
...,...,...,...,...,...,...,...,...,...,...,...,...
9807703,295,남해,2021-12-31 19:00,-0.5,NaN,1.1,45.0,-11.0,1023.3,NaN,-0.5,남해
9807704,295,남해,2021-12-31 20:00,-1.3,NaN,1.0,48.0,-10.9,1023.7,NaN,-0.8,남해
9807705,295,남해,2021-12-31 21:00,-1.7,NaN,1.0,49.0,-11.0,1024.0,NaN,-1.2,남해
9807706,295,남해,2021-12-31 22:00,-3.2,NaN,0.6,56.0,-10.7,1024.4,NaN,-1.4,남해
9807707,295,남해,2021-12-31 23:00,-2.8,NaN,0.9,53.0,-11.0,1024.6,NaN,-1.6,남해

In [25]:
obs_all = obs_all.rename(columns={'일시': 'report_time_simple'})

In [ ]:
accident = accident_data1.append([accident_data2], ignore_index=True)

<ipython-input-22-a800f5df7aef>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accident = accident_data1.append([accident_data2], ignore_index=True)

In [ ]:
accident

,report_time,report_time_simple,발생장소,사고원인,지점코드1,지점코드2
0,2010-01-01 0:10,2010-01-01 0:00,전라북도 남원시 운봉읍 공안리,일반조난,남원,전라
1,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,전라
2,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,전라
3,2010-01-01 6:21,2010-01-01 6:00,서울특별시 관악구 봉천동 봉천동,실족추락,관악,서울
4,2010-01-01 6:31,2010-01-01 6:00,경기도 광명시 하안동 하안동,실족추락,광명,경기
...,...,...,...,...,...,...
121916,2021-12-31 14:58,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,은평,서울
121917,2021-12-31 16:37,2021-12-31 16:00,충청북도 영동군 황간면 우매리,일반조난,영동,충청
121918,2021-12-31 18:11,2021-12-31 18:00,경상북도 구미시 남통동 남통동,일반조난,구미,경상
121919,2021-12-31 18:11,2021-12-31 18:00,경상북도 구미시 남통동 남통동,일반조난,구미,경상
121920,2021-12-31 18:16,2021-12-31 18:00,대구광역시 동구 숙천동 숙천동,일반조난,동구,대구

In [29]:
accident1 = accident.rename(columns={'지점코드1': '지점코드'})
result1 = pd.merge(accident1, obs_all, on=['report_time_simple', '지점코드'])

In [31]:
result1

,report_time,report_time_simple,발생장소,사고원인,지점코드,지점코드2,지점,지점명,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C)
0,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,전라,175,진도(첨찰산),-5.6,NaN,5.9,92.0,-6.6,962.6,1.6,0.2
1,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,전라,175,진도(첨찰산),-5.6,NaN,5.9,92.0,-6.6,962.6,1.6,0.2
2,2010-01-01 7:14,2010-01-01 7:00,경상북도 문경시 문경읍 상초리,일반조난,문경,경상,273,문경,-9.9,NaN,4.3,30.0,-24.2,1000.5,NaN,-10.3
3,2010-01-01 7:31,2010-01-01 7:00,충청북도 청주시 흥덕구 산남동,개인질환,청주,충청,131,청주,-11.4,NaN,0.6,69.0,-15.9,1016.4,NaN,-8.7
4,2010-01-01 7:47,2010-01-01 7:00,강원도 태백시 혈동 혈동,산악기타,태백,강원,216,태백,-12.2,NaN,2.2,29.0,-26.6,930.0,NaN,-12.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49732,2021-12-30 12:11,2021-12-30 12:00,충청북도 제천시 수산면 능강리,일반조난,제천,충청,221,제천,-2.1,NaN,2.4,32.0,-16.6,990.6,NaN,2.8
49733,2021-12-30 15:54,2021-12-30 15:00,경상남도 함양군 마천면 강청리,기타산악,함양,경상,264,함양군,2.0,NaN,6.6,36.0,-11.5,1004.1,NaN,5.8
49734,2021-12-30 15:54,2021-12-30 15:00,경상남도 함양군 마천면 강청리,실족추락,함양,경상,264,함양군,2.0,NaN,6.6,36.0,-11.5,1004.1,NaN,5.8
49735,2021-12-31 18:11,2021-12-31 18:00,경상북도 구미시 남통동 남통동,일반조난,구미,경상,279,구미,-1.2,NaN,1.9,26.0,-18.3,1023.0,NaN,-2.4
49736,2021-12-31 18:11,2021-12-31 18:00,경상북도 구미시 남통동 남통동,일반조난,구미,경상,279,구미,-1.2,NaN,1.9,26.0,-18.3,1023.0,NaN,-2.4

In [30]:
accident2 = accident.rename(columns={'지점코드2': '지점코드'})
result2 = pd.merge(accident2, obs_all, on=['report_time_simple', '지점코드'])

In [32]:
result2

,report_time,report_time_simple,발생장소,사고원인,지점코드1,지점코드,지점,지점명,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C)
0,2010-01-01 6:21,2010-01-01 6:00,서울특별시 관악구 봉천동 봉천동,실족추락,관악,서울,108,서울,-12.4,NaN,1.6,57.0,-19.1,1012.2,2.2,-7.1
1,2010-01-01 8:03,2010-01-01 8:00,부산광역시 남구 용호동 용호동,산악기타,남구,부산,159,부산,-5.4,NaN,0.9,44.0,-15.7,1013.5,NaN,-6.4
2,2010-01-01 8:40,2010-01-01 8:00,부산광역시 사하구 괴정동 괴정동,산악기타,사하,부산,159,부산,-5.4,NaN,0.9,44.0,-15.7,1013.5,NaN,-6.4
3,2010-01-01 8:22,2010-01-01 8:00,서울특별시 도봉구 도봉동 도봉동,실족추락,도봉,서울,108,서울,-12.6,NaN,1.5,54.0,-20.0,1012.1,2.2,-7.2
4,2010-01-01 8:22,2010-01-01 8:00,서울특별시 도봉구 도봉동 도봉동,산악기타,도봉,서울,108,서울,-12.6,NaN,1.5,54.0,-20.0,1012.1,2.2,-7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36386,2021-12-31 5:14,2021-12-31 5:00,대구광역시 남구 봉덕동 봉덕동,일반조난,남구,대구,143,대구,-4.4,NaN,5.2,41.0,-15.7,1020.7,NaN,-3.7
36387,2021-12-31 10:22,2021-12-31 10:00,광주광역시 서구 화정동 화정동,기타산악,서구,광주,156,광주,-0.9,NaN,1.7,61.0,-7.4,1023.8,0.8,0.4
36388,2021-12-31 14:32,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,은평,서울,108,서울,-4.3,NaN,3.5,29.0,-19.7,1020.5,NaN,4.4
36389,2021-12-31 14:58,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,은평,서울,108,서울,-4.3,NaN,3.5,29.0,-19.7,1020.5,NaN,4.4
36390,2021-12-31 18:16,2021-12-31 18:00,대구광역시 동구 숙천동 숙천동,일반조난,동구,대구,143,대구,-0.3,NaN,5.2,28.0,-16.6,1021.6,NaN,-1.4

In [33]:
accident = result1.append([result2], ignore_index=True)
accident

<ipython-input-33-9bbf2216fbb6>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accident = result1.append([result2], ignore_index=True)

,report_time,report_time_simple,발생장소,사고원인,지점코드,지점코드2,지점,지점명,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C),지점코드1
0,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,전라,175,진도(첨찰산),-5.6,NaN,5.9,92.0,-6.6,962.6,1.6,0.2,NaN
1,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,전라,175,진도(첨찰산),-5.6,NaN,5.9,92.0,-6.6,962.6,1.6,0.2,NaN
2,2010-01-01 7:14,2010-01-01 7:00,경상북도 문경시 문경읍 상초리,일반조난,문경,경상,273,문경,-9.9,NaN,4.3,30.0,-24.2,1000.5,NaN,-10.3,NaN
3,2010-01-01 7:31,2010-01-01 7:00,충청북도 청주시 흥덕구 산남동,개인질환,청주,충청,131,청주,-11.4,NaN,0.6,69.0,-15.9,1016.4,NaN,-8.7,NaN
4,2010-01-01 7:47,2010-01-01 7:00,강원도 태백시 혈동 혈동,산악기타,태백,강원,216,태백,-12.2,NaN,2.2,29.0,-26.6,930.0,NaN,-12.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86123,2021-12-31 5:14,2021-12-31 5:00,대구광역시 남구 봉덕동 봉덕동,일반조난,대구,NaN,143,대구,-4.4,NaN,5.2,41.0,-15.7,1020.7,NaN,-3.7,남구
86124,2021-12-31 10:22,2021-12-31 10:00,광주광역시 서구 화정동 화정동,기타산악,광주,NaN,156,광주,-0.9,NaN,1.7,61.0,-7.4,1023.8,0.8,0.4,서구
86125,2021-12-31 14:32,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,서울,NaN,108,서울,-4.3,NaN,3.5,29.0,-19.7,1020.5,NaN,4.4,은평
86126,2021-12-31 14:58,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,서울,NaN,108,서울,-4.3,NaN,3.5,29.0,-19.7,1020.5,NaN,4.4,은평
86127,2021-12-31 18:16,2021-12-31 18:00,대구광역시 동구 숙천동 숙천동,일반조난,대구,NaN,143,대구,-0.3,NaN,5.2,28.0,-16.6,1021.6,NaN,-1.4,동구

In [34]:
accident = accident.drop('지점코드1', axis=1)
accident = accident.drop('지점코드2', axis=1)
accident

,report_time,report_time_simple,발생장소,사고원인,지점코드,지점,지점명,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C)
0,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,175,진도(첨찰산),-5.6,NaN,5.9,92.0,-6.6,962.6,1.6,0.2
1,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,175,진도(첨찰산),-5.6,NaN,5.9,92.0,-6.6,962.6,1.6,0.2
2,2010-01-01 7:14,2010-01-01 7:00,경상북도 문경시 문경읍 상초리,일반조난,문경,273,문경,-9.9,NaN,4.3,30.0,-24.2,1000.5,NaN,-10.3
3,2010-01-01 7:31,2010-01-01 7:00,충청북도 청주시 흥덕구 산남동,개인질환,청주,131,청주,-11.4,NaN,0.6,69.0,-15.9,1016.4,NaN,-8.7
4,2010-01-01 7:47,2010-01-01 7:00,강원도 태백시 혈동 혈동,산악기타,태백,216,태백,-12.2,NaN,2.2,29.0,-26.6,930.0,NaN,-12.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86123,2021-12-31 5:14,2021-12-31 5:00,대구광역시 남구 봉덕동 봉덕동,일반조난,대구,143,대구,-4.4,NaN,5.2,41.0,-15.7,1020.7,NaN,-3.7
86124,2021-12-31 10:22,2021-12-31 10:00,광주광역시 서구 화정동 화정동,기타산악,광주,156,광주,-0.9,NaN,1.7,61.0,-7.4,1023.8,0.8,0.4
86125,2021-12-31 14:32,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,서울,108,서울,-4.3,NaN,3.5,29.0,-19.7,1020.5,NaN,4.4
86126,2021-12-31 14:58,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,서울,108,서울,-4.3,NaN,3.5,29.0,-19.7,1020.5,NaN,4.4
86127,2021-12-31 18:16,2021-12-31 18:00,대구광역시 동구 숙천동 숙천동,일반조난,대구,143,대구,-0.3,NaN,5.2,28.0,-16.6,1021.6,NaN,-1.4

In [36]:
accident = accident.fillna(0)
accident

,report_time,report_time_simple,발생장소,사고원인,지점코드,지점,지점명,기온(°C),강수량(mm),풍속(m/s),습도(%),이슬점온도(°C),현지기압(hPa),적설(cm),지면온도(°C)
0,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,175,진도(첨찰산),-5.6,0.0,5.9,92.0,-6.6,962.6,1.6,0.2
1,2010-01-01 5:40,2010-01-01 5:00,전라남도 진도군 진도읍 남동리,일반조난,진도,175,진도(첨찰산),-5.6,0.0,5.9,92.0,-6.6,962.6,1.6,0.2
2,2010-01-01 7:14,2010-01-01 7:00,경상북도 문경시 문경읍 상초리,일반조난,문경,273,문경,-9.9,0.0,4.3,30.0,-24.2,1000.5,0.0,-10.3
3,2010-01-01 7:31,2010-01-01 7:00,충청북도 청주시 흥덕구 산남동,개인질환,청주,131,청주,-11.4,0.0,0.6,69.0,-15.9,1016.4,0.0,-8.7
4,2010-01-01 7:47,2010-01-01 7:00,강원도 태백시 혈동 혈동,산악기타,태백,216,태백,-12.2,0.0,2.2,29.0,-26.6,930.0,0.0,-12.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86123,2021-12-31 5:14,2021-12-31 5:00,대구광역시 남구 봉덕동 봉덕동,일반조난,대구,143,대구,-4.4,0.0,5.2,41.0,-15.7,1020.7,0.0,-3.7
86124,2021-12-31 10:22,2021-12-31 10:00,광주광역시 서구 화정동 화정동,기타산악,광주,156,광주,-0.9,0.0,1.7,61.0,-7.4,1023.8,0.8,0.4
86125,2021-12-31 14:32,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,서울,108,서울,-4.3,0.0,3.5,29.0,-19.7,1020.5,0.0,4.4
86126,2021-12-31 14:58,2021-12-31 14:00,서울특별시 은평구 진관동 진관동,실족추락,서울,108,서울,-4.3,0.0,3.5,29.0,-19.7,1020.5,0.0,4.4
86127,2021-12-31 18:16,2021-12-31 18:00,대구광역시 동구 숙천동 숙천동,일반조난,대구,143,대구,-0.3,0.0,5.2,28.0,-16.6,1021.6,0.0,-1.4

In [37]:
accident.to_csv('/content/gdrive/MyDrive/final_data.csv', index=False)